.navBar{
    width: 100vw;
    height: 70px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navBar > * > * {
    cursor: pointer;
    padding: 10px;
}

.navPrimary, .navSecondary{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navPrimary{
    margin-left: 20px;
}

.navPrimary > * {
    max-height: 25px;
}

.navPrimary span:nth-child(2){
    font-weight: 700;
    cursor: default
}

.logo {
    max-width: 150px;
}

.navSecondary{
    margin-right: 60px;
}

.navSecondary  * {
    max-height: 30px;
}

.avatar{
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
}

.avatar img{
    border-radius: 15%;
}

.avatar svg{
   margin-left: 5px;
}

.down {
    transform: rotateX(0deg);
    transition: transform 2s;
}

.up{
    transform: rotateX(180deg);
    transition: transform 2s;
}
  
