.notifications{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 140px;
    top: 71px;
    width: 410px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 470px;
}


